header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrado todo */
    padding: 15px 30px;
    background-color: #3a339f; /* Color fondo */
    color: #f3f3f3;
    box-shadow: 0 0 10px #8b5cf6; /* sombra */
    height: 80px;
}

.nav-titulo h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    /*color: #a855f7;*/
    color: #fff;
    font-weight: 900;
    filter: drop-shadow(0 0 8px #8b5cf6);
}

.d-flex {
    filter: drop-shadow(0 0 8px #8b5cf6);
}

.btn-morado {
    color: #fff;
    border-radius: 8px;
    border: 1px solid #8b5cf6;
    filter: drop-shadow(0 0 8px #8b5cf6);
}

.nav-right .icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #8b5cf6);
}

.icon_login {
    width: 100px;
    margin-left: 20px;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #8b5cf6);
}

.principal_container {
    padding: 20px;
    background-color: #0a0a0f;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 10px;
}

.item {
    background-color: #1e1b4b;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px #8b5cf6;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.03);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item .descripcion {
    font-size: 1rem;
    margin-bottom: 8px;
}

.item button {
    background-color: #a855f7;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px #a855f7;
    transition: background 0.3s;
}

.item button:hover {
    background-color: #8b5cf6;
}

.item .texto {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ccc;
}







