
.btn-morado {
    color: #8b5cf6;
    border: 1px solid #8b5cf6;
    font-weight: 500;
}

.btn-morado:hover {
    background-color: #8b5cf6;
    color: #fff;
}

/* Boton Iniciar sesión */
.btn-login {
  background-color: #8b5cf6;     
  color: white;
  border: 2px solid #8b5cf6;
  border-radius: 8px;
  font-size: 1.05rem;
  transition: .2s;
}

.btn-login:hover {
  background-color: white;
  color: #8a45ff;
  border: 2px solid #8a45ff;
}



